<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="plerdy">
    <script type="text/javascript" defer data-plerdy_code='1'>
        var _protocol="https:"==document.location.protocol?"https://":"http://";
        var _site_hash_code = "d9da29dc7b757af6358759cbf2fe0f73",_suid=63893, plerdyScript=document.createElement("script");
        plerdyScript.setAttribute("defer",""),plerdyScript.dataset.plerdymainscript="plerdymainscript",
            plerdyScript.src="https://a.plerdy.com/public/js/click/main.js?v="+Math.random();
        var plerdymainscript=document.querySelector("[data-plerdymainscript='plerdymainscript']");
        plerdymainscript&&plerdymainscript.parentNode.removeChild(plerdymainscript);
        try{document.head.appendChild(plerdyScript)}catch(t){console.log(t,"unable add script tag")}
    </script>


    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "spk8s1drip");
    </script>
</div>
</body>
</html>